body 
{
    text-align: center;
}
.left-side 
{
    float: left;
    display: inline;
    padding: 15px;
    margin-top: -12rem;
}

.right-side 
{
    float: right;
    display: inline;
    padding: 15px;
    margin-top: -12rem;
}

.google-apps 

{
height: 20px;
width: 20px;
transition: 700ms;
}

.google-apps:hover
{
    transform: scale(1.2);
}

.sign-in-button 
{
margin: 0 auto;
background-color: #4585F1;
color: white;
padding: 8px 15px 8px 15px;
border-radius: 2px;
border: none;
}

.sign-in-button:hover
{
background-color: #1462e8;
}

a 
{
    text-decoration: none;
    color: #747474;
}

a:hover 
{
    text-decoration: underline;
}

.google-image 
{
    margin: 12rem auto -2px;
    padding: 1em;
}

.search-bar
{
    margin: 0 auto;
    width: 450px;
    border: rgb(139, 132, 132) 1px solid;
    border-radius: 60px;
    margin-bottom: 15px;
    padding: 5px;
    transition: 700ms;
    text-decoration: none;
}

.search-bar:hover
{
    margin: 0 auto;
    border: rgb(139, 132, 132) 1px solid;
    border-radius: 60px;
    box-shadow: 1px 1px 5px;
    margin-bottom: 15px;
    padding: 5px;
}
input[type=text]
{
    text-decoration: none;  
    transition: 1000ms;
    border: none;
}

input[type=text]:hover
{
    transition: 1000ms;
    size: 80px;
    border: none;
}

input[type=text]:focus
{
    transition: 1000ms;
    outline: 0;
    border: none;
}

.search-icon 
{
    margin: 0 auto;
}

.search-buttons
{
margin: 0 auto;
}

.google-search-button1
{
    padding: 10px; 
    border-radius: 3px;  
    border: none; 
    margin-right: 10px; 
    text-decoration: none;
    display: inline-block;
}

.google-search-button1:hover
{
    background-color: rgb(232, 232, 232);
    color: black;
    text-decoration: none;
}

.google-search-button1 a
{
    border: none; 
    text-decoration: none;
}

.google-search-button1:hover a
{
    text-decoration: none;
}

.google-search-button2
{
    padding: 10px;  
    border-radius: 3px;  
    border: none; 
    transition: 300ms;
    display: inline-block;
}

.google-search-button2:hover
{
    background-color: rgb(232, 232, 232);
    color: black;
    text-decoration: none;
    transform: scale(1.1);
}

.google-search-button2 a
{
    border: none; 
    text-decoration: none;
}

.google-search-button2:hover a
{
    text-decoration: none;
}

.left-foot 
{
    background-color: #F2F2F2;
    width: 99.8%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
    margin-left: 0;
    margin-top: 32em;
}

.advertising 
{
    float: left;
    margin-right: 15px;
 
}

.right-foot 
{
    margin: -1em auto;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -2.3em;

}

.privacy 
{
    float: right;
    margin-right: 15px;
}